<h1><%= t('.simple_title', :default => 'MadnesS') %></h1>

<p>
  This is the page for the
  <a href="http://madness.org.ua/">MadnesS</a>
  portal page.
</p>

<%= link_to 'Sign up now!', signup_path, :class => "signup_button round" %>
