<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://forum.madness.org.ua/">Forum</a></li>
      <li><a href="http://madness.org.ua">Main</a></li>
    </ul>
  </nav>
</footer>
